body {
    margin: 0px;
    padding: 0px;
    background-color: #66595b;
}

#banner {
    font-size: 90px; 
    font-family: 'Copperplate';
    text-align: center;
    color: white;
    background-color: #363b3d;
}

.card {
    border-width: 4px;
    border-radius: 15px;
    border-color: black;
    border-style: solid;
    background-color: #abb4b8;
    margin: 25px;
    padding: 5px;
}

.card-header {
    font-size: 35px; 
    font-family: 'Copperplate';
    vertical-align: middle;
    display: inline-block;
}

.card-header-big {
    font-size: 50px; 
    font-family: 'Copperplate';
    margin-right: -6px;
    margin-bottom: -3px;
    vertical-align: bottom;
    display: inline-block;
}

.card-content {
    font-size: 20px; 
    font-family: 'Copperplate';
}

.card-image-container {
    text-align: center;
    margin: 10px;
}

.card-image {
    border-width: 4px;
    border-color: #abb4b8;
    border-style: solid;
}

table td, table td * {
    vertical-align: top;
}
